<div class="row">
    <div class="medium-3 medium-centered">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="row">
        <button type="button" class="button" (click)="goToCreateUser()">Add User</button>
        <table class="hover stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tr *ngFor="#user of Users">
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>
                <td class="button-group">
                    <edit-user></edit-user>
                    <delete-user></delete-user>
                </td>
            </tr>
        </table>
    </div>
</div>