<div >
    <form data-abide novalidate [ngFormModel]="editForm" (ngSubmit)="updateUser(editForm.value)">

        <div class="row">
            <div class="medium-3 medium-centered">
                <h1>Edit User</h1>
            </div>
        </div>
        <div class="row medium-6 medium-centered">
            <div class="row">
                <div [class.aa-invalid-input]="!editForm.find('name').valid && editForm.find('name').touched">
                    <label for="Name">Name
                        <input id="Name" #name="ngForm" placeholder="Name" type="text" [ngFormControl]="editForm.controls['name']" [(ngModel)]="user.name">
                        <div *ngIf="!name.control.valid && name.control.touched" class="form-error is-visible">Name invalid</div>
                        <div *ngIf="name.control.hasError('required') && name.control.touched" class="form-error is-visible">The name is required</div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div [class.aa-invalid-input]="!editForm.find('username').valid && editForm.find('username').touched">
                    <label for="UserName">UserName
                        <input id="UserName" #username="ngForm" placeholder="UserName" type="text" [ngFormControl]="editForm.controls['username']" [(ngModel)]="user.username">
                        <div *ngIf="!username.control.valid && username.control.touched" class="form-error is-visible">UserName invalid</div>
                        <div *ngIf="username.control.hasError('required') && username.control.touched" class="form-error is-visible">The UserName is required</div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div [class.aa-invalid-input]="!editForm.find('email').valid && editForm.find('email').touched">
                    <label for="Email">Email
                        <input id="Email" #email="ngForm" placeholder="Email" type="text" [ngFormControl]="editForm.controls['email']" [(ngModel)]="user.email">
                        <div *ngIf="!email.control.valid && email.control.touched" class="form-error is-visible">Email invalid</div>
                        <div *ngIf="email.control.hasError('required') && email.control.touched" class="form-error is-visible">The Email is required</div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div [class.aa-invalid-input]="!editForm.find('phone').valid && editForm.find('phone').touched">
                    <label for="Phone">Phone
                        <input id="Phone" placeholder="Phone" type="text" [ngFormControl]="editForm.controls['phone']" [(ngModel)]="user.phone">
                    </label>
                    <div *ngIf="!editForm.find('phone').valid" class="form-error is-visible">
                        Phone needs to be less than 30 characters.
                    </div>
                </div>
            </div>
            <div class="row">
                <div [class.aa-invalid-input]="!editForm.find('website').valid && editForm.find('website').touched">
                    <label for="Website">Website
                        <input id="Website" placeholder="Website" type="text" [ngFormControl]="editForm.controls['website']" [(ngModel)]="user.website">
                    </label>
                    <div *ngIf="!editForm.find('website').valid" class="form-error is-visible">
                        Website needs to be less than 30 characters.
                    </div>
                </div>
            </div>
            <div *ngIf="!editForm.valid && editForm.dirty" class="row">
                <div data-abide-error class="alert callout">
                    <p>There are some errors in your form.</p>
                </div>
            </div>
            <div class="row">
                <button type="submit" [disabled]="!editForm.valid" class="success button">Update</button>
            </div>

        </div>
    </form>
</div>