<form data-abide novalidate [ngFormModel]="createForm" (ngSubmit)="createUser(createForm.value)">

    <div class="row">
        <div class="medium-3 medium-centered">
            <h1>Create User</h1>
        </div>
    </div>
    <div class="row medium-6 medium-centered">
        <div class="row">
            <div [class.aa-invalid-input]="!createForm.find('name').valid && createForm.find('name').touched">
                <label for="Name">Name
                    <input id="Name" #name="ngForm" placeholder="Name" type="text" [ngFormControl]="createForm.controls['name']">
                    <div *ngIf="!name.control.valid && name.control.touched" class="form-error is-visible">Name invalid</div>
                    <div *ngIf="name.control.hasError('required') && name.control.touched" class="form-error is-visible">The name is required</div>
                </label>
            </div>
        </div>

        <div class="row">
            <div [class.aa-invalid-input]="!createForm.find('username').valid && createForm.find('username').touched">
                <label for="UserName">UserName
                    <input id="UserName" #username="ngForm" placeholder="UserName" type="text" [ngFormControl]="createForm.controls['username']">
                    <div *ngIf="!username.control.valid && username.control.touched" class="form-error is-visible">UserName invalid</div>
                    <div *ngIf="username.control.hasError('required') && username.control.touched" class="form-error is-visible">The UserName is required</div>
                </label>
            </div>
        </div>

        <div class="row">
            <div [class.aa-invalid-input]="!createForm.find('email').valid && createForm.find('email').touched">
                <label for="Email">Email
                    <input id="Email" #email="ngForm" placeholder="Email" type="text" [ngFormControl]="createForm.controls['email']">
                    <div *ngIf="!email.control.valid && email.control.touched" class="form-error is-visible">Email invalid</div>
                    <div *ngIf="email.control.hasError('required') && email.control.touched" class="form-error is-visible">The Email is required</div>
                </label>
            </div>
        </div>
        <div class="row">
            <div [class.aa-invalid-input]="!createForm.find('phone').valid && createForm.find('phone').touched">
                <label for="Phone">Phone
                    <input id="Phone" placeholder="Phone" type="text" [ngFormControl]="createForm.controls['phone']">
                </label>
                <div *ngIf="!createForm.find('phone').valid" class="form-error is-visible">
                        Phone needs to be less than 15 digits.
                </div>
            </div>
        </div>
        <div class="row">
            <div [class.aa-invalid-input]="!createForm.find('website').valid && createForm.find('website').touched">
                <label for="Website">Website
                    <input id="Website" placeholder="Website" type="text" [ngFormControl]="createForm.controls['website']">
                </label>
                <div *ngIf="!createForm.find('website').valid" class="form-error is-visible">
                        Website needs to be less than 30 characters.
                </div>
            </div>
        </div>
        <div *ngIf="!createForm.valid && createForm.dirty" class="row">
            <div data-abide-error class="alert callout">
                <p>There are some errors in your form.</p>
            </div>
        </div>
        <div class="row">
            <button type="submit" [disabled]="!createForm.valid" class="success button">Submit</button>
        </div>

    </div>
</form>